<!-- Sliding Select Page -->

<!-- Left Vertical Border with Text -->
<div
  class="w-[8vh] h-full bg-accent text-white text-[2vh] font-bold flex items-center justify-center"
  (click)="closePay()"
>
  <span class="transform -rotate-90 whitespace-nowrap">{{
    translationService.translate({ en: "Extras", sl: "Dodatki" })
  }}</span>
</div>

<!-- Main Content -->
<div class="flex-1 p-6">
  <h1 class="text-[3vh] font-bold text-center mb-6">
    {{ translationService.translate({ sl: "Dodatki za", en: "Extras for" }) }}
    {{
      translationService.translate({
        en: selectedBeverage.name_en,
        sl: selectedBeverage.name
      })
    }}
  </h1>

  <img
    [src]="'icons/' + selectedBeverage.imgSrc + '_more.svg'"
    alt="{{ selectedBeverage.name }} Details"
    class="h-[20vh] object-contain mx-auto mb-6"
  />

  <div class="mb-8">
    <h2 class="text-[2.5vh] font-semibold mb-4 flex items-center text-gray-700">
      <i class="fas fa-cube mr-2 text-black"></i>
      {{ translationService.translate({ en: "Sugar", sl: "Sladkor" }) }}
    </h2>
    <div class="flex flex-col items-center w-full">
      <input
        type="range"
        min="0"
        max="5"
        [(ngModel)]="selectedBeverage.sugar"
        class="w-[85%] h-2 bg-gray-300 rounded-[3vh] appearance-none focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-2"
        id="sugarLevel"
      />
      <div
        class="w-full grid grid-cols-6 mt-2 text-[2vh] text-gray-500 text-center"
      >
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
    </div>
  </div>

  <div class="mb-8 text-[1.5vh]">
    <h2 class="text-[2.5vh] font-semibold mb-4 flex items-center text-gray-700">
      <i class="fas fa-cookie-bite mr-2 text-black"></i>
      {{ translationService.translate({ en: "Toppings", sl: "Posip" }) }}
    </h2>
    <div class="grid grid-cols-4 gap-[1vh]">
      <button
        (click)="selectedBeverage.toppings = []"
        [ngClass]="{
          'bg-accent text-white hover:bg-accent-dark':
            selectedBeverage.toppings?.length === 0,
          'bg-gray-100 text-gray-600 hover:bg-gray-200 hover:text-black':
          selectedBeverage.toppings?.length !== 0,
        }"
        class="p-[1vh] border rounded-[1vh] cursor-pointer text-center transition"
      >
        {{ translationService.translate({ en: "none", sl: "brez" }) }}
      </button>

      <button
        (click)="toggleTopping('chocolate')"
        [ngClass]="{
          'bg-accent text-white hover:bg-accent-dark':
            selectedBeverage.toppings?.includes('chocolate'),
          'bg-gray-100 text-gray-600 hover:bg-gray-200 hover:text-black':
            !selectedBeverage.toppings?.includes('chocolate')
        }"
        class="p-[1vh] border rounded-[1vh] cursor-pointer text-center transition"
      >
        {{ translationService.translate({ en: "chocolate", sl: "čokolada" }) }}
      </button>

      <button
        (click)="toggleTopping('cinammon')"
        [ngClass]="{
          'bg-accent text-white hover:bg-accent-dark':
            selectedBeverage.toppings?.includes('cinammon'),
          'bg-gray-100 text-gray-600 hover:bg-gray-200 hover:text-black':
            !selectedBeverage.toppings?.includes('cinammon')
        }"
        class="p-[1vh] border rounded-[1vh] cursor-pointer text-center transition"
      >
        {{ translationService.translate({ en: "cinammon", sl: "cimet" }) }}
      </button>

      <button
        (click)="toggleTopping('marshmallow')"
        [ngClass]="{
          'bg-accent text-white hover:bg-accent-dark':
            selectedBeverage.toppings?.includes('marshmallow'),
          'bg-gray-100 text-gray-600 hover:bg-gray-200 hover:text-black':
            !selectedBeverage.toppings?.includes('marshmallow')
        }"
        class="p-[1vh] border rounded-[1vh] cursor-pointer text-center transition"
      >
        {{ translationService.translate({ en: "marshmallows", sl: "penice" }) }}
      </button>
    </div>
  </div>

  <div class="flex justify-between mt-6">
    <button
      class="px-6 py-2 text-white bg-primary rounded-[1vh] hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-gray-500 text-[2vh]"
      (click)="closePage()"
    >
      <i class="fas fa-arrow-left mr-2"></i
      >{{ translationService.translate({ en: "Back", sl: "Nazaj" }) }}
    </button>
    <button
      class="px-6 py-2 text-white bg-accent rounded-[1vh] hover:bg-accent-dark focus:outline-none focus:ring-2 focus:ring-accent-dark text-[2vh]"
      (click)="goToPay()"
    >
      <i class="fas fa-wallet mr-2"></i
      >{{ translationService.translate({ en: "Pay", sl: "Plačaj" }) }}
    </button>
  </div>
</div>
