<div class="flex absolute inset-0 top-[7%]">
  <div class="h-screen py-[2vh] pr-[2vh] z-10 w-[18vh] max-w-[20%]">
    <div class="flex flex-col gap-[1.5vh] h-full">
      <!-- Coffees -->
      <div
        (click)="currentView = 'coffees'"
        class="flex flex-col items-center gap-[2vh] text-center text-[2vh] bg-primary text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[2vh]"
      >
        Coffees
        <img
          src="icons/coffee.svg"
          alt="Coffee Cup Icon"
          class="h-[75%] w-[75%]"
        />
      </div>

      <!-- Teas -->
      <div
        (click)="currentView = 'teas'"
        class="flex flex-col items-center gap-[2vh] text-center text-[2vh] bg-primary text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[2vh]"
      >
        Teas
        <img
          src="icons/coffee.svg"
          alt="Coffee Cup Icon"
          class="h-[75%] w-[75%]"
        />
      </div>

      <!-- Flavoured -->
      <div
        (click)="currentView = 'flavoured'"
        class="flex flex-col items-center gap-[2vh] text-center text-[2vh] bg-primary text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[2vh]"
      >
        Flavoured
        <img
          src="icons/coffee.svg"
          alt="Coffee Cup Icon"
          class="h-[75%] w-[75%]"
        />
      </div>

      <!-- More -->
      <div
        (click)="currentView = 'more'"
        class="flex flex-col items-center gap-[2vh] text-center text-[2vh] bg-primary text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[2vh]"
      >
        More
        <img
          src="icons/coffee.svg"
          alt="Coffee Cup Icon"
          class="h-[75%] w-[75%]"
        />
      </div>
    </div>
  </div>

  <div class="flex-1">
    <!-- Render Coffees -->
    <app-coffees *ngIf="currentView === 'coffees'"></app-coffees>

    <!-- Render Teas -->
    <app-teas *ngIf="currentView === 'teas'"></app-teas>

    <!-- Render Flavoured -->
    <app-flavoured *ngIf="currentView === 'flavoured'"></app-flavoured>

    <!-- Render More -->
    <app-more *ngIf="currentView === 'more'"></app-more>
  </div>
</div>
