<div class="flex absolute inset-0 top-[7%]">
  <div class="h-screen py-[2vh] pr-[2vh] z-10 w-[18vh] max-w-[20%]">
    <div
      [ngClass]="{
        'justify-end': accesibilityService.accessibility,
        'justify-start': !accesibilityService.accessibility
      }"
      class="flex flex-col gap-[1.5vh] h-[83%]"
    >
      <!-- Coffees -->
      <div
        (click)="currentView = 'coffees'"
        class="flex flex-col items-center justify-end gap-[0vh] text-center text-[2vh] bg-tabs text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[1vh] pt-[2vh] pb-[2vh] font-bold"
      >
        <img
          *ngIf="!accesibilityService.accessibility"
          src="icons/macchiato.svg"
          alt="Coffee Cup Icon"
          class="w-[100%]"
        />
        {{ translationService.translate({ en: "COFFEES", sl: "KAVE" }) }}
      </div>

      <!-- Teas -->
      <div
        (click)="currentView = 'teas'"
        class="flex flex-col items-center justify-end gap-[0vh] text-center text-[2vh] bg-tabs text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[1vh] pt-[2vh] pb-[2vh] font-bold"
      >
        <img
          *ngIf="!accesibilityService.accessibility"
          src="icons/planinski_caj.svg"
          alt="Coffee Cup Icon"
          class="w-[100%]"
        />
        {{ translationService.translate({ en: "TEAS", sl: "ČAJI" }) }}
      </div>

      <!-- More -->
      <div
        (click)="currentView = 'more'"
        class="flex flex-col items-center justify-end gap-[0vh] text-center text-[2vh] bg-tabs text-accent rounded-r-[2vh] shadow-lg cursor-pointer p-[1vh] font-bold pt-[2vh] pb-[2vh]"
      >
        <img
          *ngIf="!accesibilityService.accessibility"
          src="icons/vroca_cokolada.svg"
          alt="Coffee Cup Icon"
          class="w-[90%]"
        />
        <span class="leading-[2vh]">
          {{
            translationService.translate({
              en: "OTHER DRINKS",
              sl: "OSTALI NAPITKI"
            })
          }}
        </span>
      </div>
    </div>
  </div>

  <div class="flex-1">
    <!-- Render Coffees -->
    <app-coffees *ngIf="currentView === 'coffees'"></app-coffees>

    <!-- Render Teas -->
    <app-teas *ngIf="currentView === 'teas'"></app-teas>

    <!-- Render More -->
    <app-more *ngIf="currentView === 'more'"></app-more>
  </div>
</div>
