/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffaf2; /* Replace with your desired color */
  margin: 0; /* Optional: Remove default margin */
  padding: 0; /* Optional: Remove default padding */
  overflow: hidden;
}

app-tabs {
  width: 30%; /* Makes the tabs take 30% of the width */
  height: 100%;
}
